/* Declarando variáveis */
:root {
    --primary-color: #fefefe;
    --h1-color: black;
    --highlight: #89C5CC;
    --paragraph-color: #7D7987;
    --list-color-current: #1F1534;
    --list-color: #1F153480;
    --cta-button-bg: #69B99D;
}

.dark-theme {
    --primary-color: #0F0E0E;
    --h1-color: #BEBDB8;
    --highlight: #DC143C;
    --paragraph-color: #D9DDDC;
    --list-color-current: #C3B1E1;
    --list-color: #C3B1E180;
    --cta-button-bg: #665979;
}

body {
    margin: 3vh 7vw 0 7vw;
    background-color: var(--primary-color);
}

/* Transformando variáveis em classes */
.highlight {
    color: var(--highlight);
}
.paragraph-color {
    color: var(--paragraph-color);
}
.list-color-current a {
    color: var(--list-color-current);
}
.list-color a {
    color: var(--list-color);
}

.bold {
    font-weight: bold;
}

.flex-container {
    display: flex;
}

/* HEADER */
header {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7vh;
}

#logo {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 26px;
}

ul > li {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    list-style: none;
    padding: 0px 20px;
}

li a {
    text-decoration: none;
}

#dark-theme-btn {
    background-color: #2F4C39;
    border: none;
    border-radius: 50%;
    padding: 0;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Esconde o segundo botão no modo claro */
#dark-theme-btn svg:last-child {
    display: none;
}

/* Esconde o primeiro botão no modo noturno */
.dark-theme #dark-theme-btn svg:first-child {
    display: none;
}

/* Mostra o segundo botão no modo claro */
.dark-theme #dark-theme-btn svg:last-child {
    display: block;
}

/* MAIN */
#hero-section {
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: "Mulish", sans-serif;
    font-size: 48px;
    line-height: 150%;
    font-weight: 400;
    color: var(--h1-color);
}

.left-side > p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 7vh;
}

#cta-button {
    font-family: "DM Sans", sans-serif;
    background-color: var(--cta-button-bg);
    padding: 14px 32px 15px 32px;
    text-decoration: none;
    color: white;
}

.right-side > img {
    margin-right: 7vw;
}